<html>
    <body>
        <form method='Post' action="/models/feedback.js">
                        
            <label for="fname">First Name</label>
            <input style="color: black" type="text" id="fname" name="firstname" placeholder="Your name.."> 
        
            <label for="lname">Last Name</label>
            <input style="color: black" type="text" id="lname" name="lastname" placeholder="Your last name..">
        
            <label for="subject">Subject</label>
            <textarea style="color: black" id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        
            <input type="submit" value="Submit">
          
        
        </form>
    </body>
</html>